* {
    font-family: 'Times New Roman', Times, serif;
}

table {
    margin-top: 15px;
    border: solid 2px black;
    padding: 3px;
    border-collapse: collapse;
} 

th, td {
    border: solid 2px black;
    padding: 3px;
    border-collapse: collapse;
}

thead {
    border: solid 2px black;
    padding: 3px;
    background-color: rgb(248, 193, 109);
    border-collapse: collapse;
}

tfoot {
    border: solid 2px black;
    padding: 3px;
    background-color: blanchedalmond;
    border-collapse: collapse;
}

#order-button {
    margin-top: 10px;
}

.word-content {
    text-align: left;
}